@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style-type: none;
  text-decoration: none;
}

/* VARIABLES */
:root {
  --primary-color: #121113;
  --secondary-color: #1b263b;
  --primary-complementory: #1c1c19;
  --font-light-color: #e0e1dd;
  --font-dark-color: #415a77;
  --overlay-color: rgba(13, 27, 42, 0.9);
  --oveley-color-dark: rgba(18, 17, 19, 0.95);
  --overlay-color-light: rgba(13, 27, 42, 0.7);

  /* BUTTON */
  --btn-color: #0c0710;
  --btn-color-light: #e0e1dd;
  --btn-hover: #696270;
  --btn-hover-yellow: #fca311;
  --color-footer-btn: #d4aaff;
  --bg-footer-btn: #a18eb5;
  --input-color: rgba(255, 255, 255, 0.4);
  --input-focus-color: #ffffff;

  /* NAV */
  --navColor1: #080808;
  --navColor2: #444541;
  --navColor3: #474d35;
  --navColor4: #a2a071;

  /* star */
  --star-yellow: #ffb703;
  --highlight-color: #fca311;

  /* --primary-color: #0d1b2a; */
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Nunito', sans-serif;
  background-color: var(--navColor4);
  color: var(--font-light-color);
  min-height: 100vh;
  font-size: 1.6rem;
  line-height: 1.6;
}
.body-container {
  margin: 0.5rem;
  background-color: var(--primary-color);
  display: grid;
  grid-template-rows: 33vh 1fr 10rem;
  grid-template-columns: repeat(12, 1fr);
}
/* GENERAL */
h1 {
  text-align: center;
  margin: 10rem auto;
  font-size: 3.5rem;
}
h2 {
  font-size: 2.2rem;
  line-height: 1.2;
}
h5 {
  color: var(--font-light-color);
}

img {
  max-width: 100%;
  display: block;
}
img:hover {
  pointer-events: none;
}
a {
  display: block;
}

input {
  font-family: inherit;
  font-size: inherit;
  /* background-color: var(´--input-color); */
}
input:focus {
  outline: none;
  background-color: var(--input-focus-color);
}
input::placeholder {
  font-size: 1rem;
  text-align: center;
}

/* HEADER STYLES START HERE */
.header {
  background-color: var(--primary-color);

  padding: 1rem 0.5rem 0;
  grid-column: 1/-1;
  position: sticky;
  z-index: 1;
  top: 0;
}
.about-movie {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  transition: all 600ms ease-in-out;
}

.movie-directors {
  font-size: 1.4rem;
  margin: 1.2rem 0.5rem 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buy-movie {
  font-size: 1.4rem;
  margin-top: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buy-movie__price {
  font-size: 1.9rem;
  color: var(--navColor4);
}
.buy-movie__btn {
  padding: 0.2rem 1.2rem;
  color: var(--bg-green);
  font-weight: bold;
  outline: 3px solid var(--navColor4);
  border-radius: 2rem;
  transition: all 200ms ease-in;
}
.buy-movie__btn:hover {
  background-color: var(--btn-hover);
  color: var(--primary-color);
  font-weight: bold;
}
.buy-movie__btn:active {
  background-color: var(--btn-hover);
  color: var(--primary-color);
  transform: translateY(2px);
}
.movie-description p {
  margin-bottom: 0.5rem;
}

.movie-trailer {
  width: 80%;
  height: 20rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
iframe {
  border: 2px solid var(--highlight-color);
  outline: 4px solid var(--btn-hover-yellow);
  outline-offset: 1rem;
  width: 80%;
  height: auto;
  border-radius: 2px;
}

/* HEADER STYLES END HERE */
/* NAV STYLES START HERE */
.menu {
  grid-row: 2/-1;
  grid-column: 1 / span 2;
  box-shadow: 0 2rem 0.5rem var(--oveley-color);
  position: relative;
}
/* --- Menu Bars --- */

.menu .menu-bars {
  position: fixed;
  top: 35vh;
  left: 3rem;
  z-index: 10;
  display: inline;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 2px;
  background-color: var(--input-focus-color);
  margin: 8px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}
/* --- Menu nav --- */
nav .menu-overlay {
  background-color: var(--oveley-color-dark);
  position: fixed;
  top: 33vh;
  left: 0;
  width: 23%;
  height: 100vh;
  padding: 10rem 4rem;
  border-radius: 2px;
  z-index: 9;
}
.overlay-slide-right {
  transition: all 0.3s ease-in;
  transform: translateX(0);
}
.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100%);
}
nav ul {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
}
nav ul li {
  width: 100%;
  height: 10%;
  margin: 0.5rem 0.2rem;
  font-size: 2.4rem;
  transition: all 400ms ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}
nav li:hover:not(:first-child) {
  transform: scale(1.1);
  border-radius: 5px;
}
nav li:nth-of-type(1) {
  background-color: var(--navColor1);
}
nav li:nth-of-type(2) {
  background-color: var(--navColor2);
}
nav li:nth-of-type(3) {
  background-color: var(--navColor3);
}
nav li:nth-of-type(4) {
  background-color: var(--navColor4);
}
nav form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
nav input {
  width: 80%;
  height: 3rem;
  background-color: var(--input-color);
  padding: 1rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 5px;
  margin-right: 1rem;
}

/* .nav-inputs-dark-color {
  background-color: var(--primary-color);
  color: var(--font-light-color);
}
.nav-inputs-light-color {
  background-color: var(--font-light-color);
  color: var(--primary-color);
} */
.menu-btn {
  padding: 1.4rem 1.2rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--btn-color-light);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.menu-btn:hover {
  background-color: var(--btn-hover);
  color: var(--btn-color);
}

.fa-search {
  font-size: 2.1rem;
  /* width: 2.5rem;
  height: 2.9rem; */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* animation in */
.slide-in-1 {
  animation: slide-in 0.4s linear 0.2s both;
}
.slide-in-2 {
  animation: slide-in 0.4s linear 0.4s both;
}
.slide-in-3 {
  animation: slide-in 0.4s linear 0.6s both;
}
.slide-in-4 {
  animation: slide-in 0.4s linear 0.8s both;
}
.slide-in-5 {
  animation: slide-in 0.4s linear 1s both;
}
@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}
/* animation out */
.slide-out-1 {
  animation: slide-out 0.3s linear 0.5s both;
}
.slide-out-2 {
  animation: slide-out 0.3s linear 0.4s both;
}
.slide-out-3 {
  animation: slide-out 0.3s linear 0.3s both;
}
.slide-out-4 {
  animation: slide-out 0.3s linear 0.2s both;
}
.slide-out-5 {
  animation: slide-out 0.3s linear 0.1s both;
}
@keyframes slide-out {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}
/* NAV STYLES END HERE */
/* MAIN STYLES START HERE */
.main {
  padding: 1rem;
  background: linear-gradient(
    0.25turn,
    var(--primary-complementory),
    var(--oveley-color),
    var(--primary-complementory)
  );
  width: 100%;
  grid-row: 2/-1;
  grid-column: 3 / -1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 1rem;
}
.card {
  background-color: var(--secondary-color);
  font-size: 2.4rem;
  max-width: 30rem;
  height: 63rem;
  margin: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 1.2rem;
  position: relative;
  overflow: hidden;
  backface-visibility: hidden;
  resize: none;
  border: 0.1rem solid var(--font-light-color);
  transition: transform 0.3s ease;
  width: 30rem;
}
.card:hover {
  border: 0.4rem solid var(--font-light-color);
  transform: translateY(-1rem);
  transition: all 200ms ease;
}
.card-img {
  width: 100%;
  height: auto;
}
.movie-directors {
  font-size: 1.4rem;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--font-dark-color);
}
/* ---CARD BARS */
.card-bars {
  background-color: var(--overlay-color);
  padding: 1.5rem;
  text-align: center;
  border-radius: 12px;
  margin: 1rem;
  transition: background-color 0.3s ease;
}
.card-bars p {
  font-size: 2rem;
  color: var(--highlight-color);
}
.card-bars-up {
  transform: translateY(-27rem);
  transition: all 0.4s;
}
.card-bars-down {
  transform: translateY(0);
  transition: all 0.4s;
}

.card-bar1,
.card-bar2,
.card-bar3 {
  height: 0.9rem;
  margin: 5px 0;
  background-color: var(--highlight-color);
  border-radius: 5px;
  transition: width 0.3s ease;
}
.card-bars.card-bars-down .card-bar1 {
  width: 100%;
}

.card-bars.card-bars-down .card-bar2 {
  width: 80%;
}

.card-bars.card-bars-down .card-bar3 {
  width: 60%;
}
/* --movie rating  */
.card .card-overlay {
  background-color: var(--oveley-color-dark);
  padding: 3rem 1rem 1rem;
  border-radius: 1.2rem;
  transition: all 0.4s ease-in-out;
  width: 100%;
  height: 24rem;
  border-radius: 2px;
  opacity: 0;
  z-index: 9;
  transform: translateY(-100%);
  transition: transform 0.6s ease;
}

.movie-rating {
  background-color: var(--font-dark-color);
  border-radius: 1.2rem;
  padding: 1rem;
  width: 85%;
  text-align: center;
  margin-bottom: 2rem;
}
.movie-rating form {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-in;
}
.movie-rating form input {
  background-color: var(--input-color);
  padding: 1rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 5px;
  margin-right: 1rem;
}
.movie-rating form input:focus {
  background-color: var(--input-focus-color);
}
.comment-btn {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 5px;
  background-color: var(--btn-color);
  color: var(--btn-color-light);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.comment-btn:hover {
  background-color: var(--btn-hover);
  color: var(--primary-complementory);
}
.comment-btn:active {
  transform: translateY(2px);
}
.comment-output {
  margin-top: 1rem;
  background-color: var(--highlight-color);
  padding: 1rem;
  border-radius: 5px;
  color: var(--primary-color);
}
/* ---TRAILER BUTTON */
.trailer-btn {
  font-size: x-small;
  background-color: var(--font-dark-color);
  color: var(--font-light-color);
  padding: 0.6rem 0.6rem;
  margin: 1.6rem 0 0 auto;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  border-radius: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  transition: all 200ms ease-in;
}
.trailer-btn i {
  background-color: var(--star-yellow);
  color: var(--btn-color);
  width: 1.4rem;
  height: 1.4rem;
  display: grid;
  place-content: center;
  border-radius: 50%;
}
.trailer-btn:hover {
  cursor: pointer;
}
/* ---star rate */
.movie-rating-star {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.star-rating {
  width: 90%;
  border: 0.5rem solid var(--navColor4);
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.star-rating span {
  cursor: pointer;
  font-size: 1.8rem;
  transition: all 200ms ease-in;
}
.star-rating span:hover {
  color: var(--navColor4);
  transform: scale(1.3);
}
.star-rating span:hover ~ span {
  color: var(--star-yellow);
}
.star-rating span[data-clicked] {
  color: var(--star-yellow);
}
.star-rating span[data-clicked] ~ span {
  color: var(--star-yellow);
}
.stars-output {
  background-color: var(--navColor1);
}
.stars-output h5 {
  width: 90%;
  /* padding: 0.5rem; */
  margin-top: 1rem;
  font-size: 1.8rem;
  text-align: center;
}
.hide {
  display: none;
  transition: all 0.2s;
}
.hidden {
  opacity: 0;
  visibility: hidden;
}

/* FOOTER */
.footer {
  background-color: var(--font-dark-color);
  font-size: 1.6rem;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  grid-column: 1/-1;
  position: fixed;
  bottom: 0;
  z-index: 1;
}
.footer form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footer-input {
  background-color: var(--input-color);
  padding: 1rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 5px;
  margin-right: 1rem;
}
.footer .footer-input:focus {
  background-color: var(--input-focus-color);
}
.footer .footer-input::placeholder {
  font-size: 1.4rem;
}
.fa-clock {
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footer-btn {
  padding: 0.7rem 1rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 5px;
  background-color: var(--btn-color);
  color: var(--btn-color-light);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.footer .footer-btn:hover {
  background-color: var(--btn-hover);
  color: var(--btn-color);
}

/* RESPONSIVE */
@media (max-width: 1100px) {
  body {
    font-size: 1.4rem;
  }
  .menu ul li {
    font-size: 1.4rem;
  }
  .card {
    font-size: 1.4rem;
  }
}
@media (max-width: 980px) {
  .menu ul li {
    font-size: 1.2rem;
  }
  .card {
    font-size: 1.2rem;
  }
  .card-bars p {
    font-size: 1.2rem;
  }
}
@media (max-width: 500px) {
  .menu ul li {
    font-size: 1rem;
  }
  .card {
    font-size: 1rem;
  }
  .card-bars p {
    font-size: 1rem;
  }
}
